
/* Global & Body Styles */
body {
    font-family: sans-serif, Helvetica, Arial;
    background-color: #ffffff; /* Pure White Background (Light Mode Default) */
    padding: 20px;
    margin: 0;
    line-height: 1.6;
    color: #111827; /* Very Dark Gray (near black) */
    transition: background-color 0.3s, color 0.3s;
}


/* --- Main Container and Flex Layout --- */
.main-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
}

/* --- Input Styling & Suggestion Dropdown --- */
.text-input-field {
    flex-grow: 1;
    position: relative;
}

/* Container for the input and icon */
.search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

/* Style for the search button/icon */
.search-icon-btn {
    position: absolute;
    /* if 32 px */
    right: 20px;
    top: 25%;
    transform: translateY(-33%);

    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    z-index: 10;
    color: #4c51bf;
    transition: color 0.2s;
    height: 24px;
    width: 24px;
}

.search-icon-btn:hover {
    color: #3b3f94;
}

.clear-icon-btn {
    position: absolute;

    /* if 32 px */
    right: 60px;
    top: 25%;
    transform: translateY(-33%);

    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    z-index: 10;
    color: #4c51bf;
    transition: color 0.2s;
    height: 24px;
    width: 24px;
}

.clear-icon-btn:hover {
    color: #3b3f94;
}

/* --- Results Area Styling --- */
.results-area {
    max-width: 800px;
    width: 100%;
    margin: 15px auto 0;
    padding: 25px;
    min-height: 150px;
    max-height: 50vh;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.results-area h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}
